.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formImg {
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 40%;
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hs1(200, 20%, 70%);
    }

    100% {
        background-color: hs1(200, 20%, 95%);
    }
}

form {
    display: flex;
    flex-direction: column;   
    padding: 50px;
    width: 50%;
}

form input[type="text"] {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ccc;
    padding: 15px;
}
form input[type="tel"] {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ccc;
    padding: 15px;
}

form input[type="file"] {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button {
    margin-top: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    transition: .3s;
}

.button:hover{
    background-color: #08368e;
}

